<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Welcome</servlet-name>
        <servlet-class>servlets.Welcome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CitySelect</servlet-name>
        <servlet-class>servlets.CitySelect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Info</servlet-name>
        <servlet-class>servlets.Info</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckInfo</servlet-name>
        <servlet-class>servlets.CheckInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Redirect</servlet-name>
        <servlet-class>servlets.Redirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckIn</servlet-name>
        <servlet-class>servlets.CheckIn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Welcome</servlet-name>
        <url-pattern>/Welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CitySelect</servlet-name>
        <url-pattern>/CitySelect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Info</servlet-name>
        <url-pattern>/Info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckInfo</servlet-name>
        <url-pattern>/CheckInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Redirect</servlet-name>
        <url-pattern>/Redirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckIn</servlet-name>
        <url-pattern>/CheckIn</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Welcome</welcome-file>
    </welcome-file-list>
</web-app>
